.result-container {
  display: flex;
  height: 80%;
  background-color: #ffffff33;
  border: 1px #ffffff33 solid;
  border-radius: 10px;
  margin: 5px;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.your-score {
  font-family: 'Roboto';
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.score-win {
  font-family: 'Roboto';
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.score-board {
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}
.play-btn {
  background-color: #ffce27;
  color: #3d3d3d;
  font-family: 'Roboto';
  font-weight: 600;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}
.result-image {
  width: 280px;
  margin: 40px;
}
@media (max-width: 767px) {
  .result-image {
    width: 120px;
    margin: 20px;
  }
  .your-score {
    font-size: 25px;
  }
  .score-win {
    font-size: 15px;
  }
  .play-btn {
    font-size: 10px;
    height: 30px;
    width: 80px;
  }
  .score-board {
    font-weight: 20px;
  }
}
